@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Spectral:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: cupcake --default;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* typography */
  --headings-text-size-h1: clamp(2.5rem, 6vw, 4rem);
  --headings-text-size-h2: clamp(2.125rem, 5vw, 3.25rem);
  --headings-text-size-h3: clamp(1.75rem, 4vw, 2.25rem);
  --headings-text-size-h4: clamp(1.5rem, 3vw, 2rem);
  --headings-text-size-h5: clamp(1.25rem, 2vw, 1.5rem);
  --headings-text-size-h6: clamp(1rem, 1.5vw, 1.25rem);
  --body-text-size: clamp(1.0625rem, 1.4vw, 1.375rem);
  --headings-font-family: "Spectral", sans-serif;
  --text-font-family: "Karla", sans-serif;
}

html {
  background-color: rgb(240, 240, 240);
  scroll-padding-top: var(--navHeight);
}

body {
  line-height: 1.75;
  min-height: 100dvh;
  font-family: var(--text-font-family);
  font-size: var(--body-text-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font-family);
  line-height: 1.1;
}

h1 {
  font-size: var(--headings-text-size-h1);
}

h2 {
  font-size: var(--headings-text-size-h2);
}

h3 {
  font-size: var(--headings-text-size-h3);
}

h3 {
  font-size: var(--headings-text-size-h3);
}

h4 {
  font-size: var(--headings-text-size-h4);
}

h5 {
  font-size: var(--headings-text-size-h5);
}

h6 {
  font-size: var(--headings-text-size-h6);
}

u {
  text-underline-offset: 6px;
}

img[alt] {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  object-fit: cover;
}

/* Pagina Home e newsletter - sezione hero */
.hero,
.hero-offset {
  padding-top: var(--navHeight, 80px);
}

/* Pagina RicettaInDettaglio */
/* recipe steps */
#recipe-steps>li::before {
  content: counter(recipeSteps);
  background-color: #9f2d00;
  color: white;
  border: 2px solid #9f2d00;
  padding: 5px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 48px;
}

#recipe-steps {
  counter-reset: recipeSteps;
}

#recipe-steps>li {
  counter-increment: recipeSteps;
}